<?xml version="1.0" encoding="UTF-8"?>
<!-- <Configuration status="WARN" monitorInterval="30"> -->
<Configuration status="error" monitorInterval="5"> 
    <Properties>
        <Property name="APP_LOG_ROOT">log</Property>
		<Property name="LOG_PATTERN_FILE">%sn %d{yyyy/MM/dd HH:mm:ss,SSS} %r [%-6p] [%t] %c{3} %C{3}.%M(%F:%L) - %m%n</Property>
		<Property name="LOG_PATTERN_CONSOLE">%d %-5p%m%n</Property>
		<Property name="LOG_PATTERN_FILE2">%d{yyyyMMdd HH:mm:ss} %-5p [%t] %C{2} %F%L - %m%n</Property>
		<Property name="LOG_PATTERN_FILE3">%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger{36} - %msg%n</Property>
		<Property name="LOG_PATTERN_FILE_ERROR">%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
		<!-- <Console name="console" target="SYSTEM_OUT" follow="true"> -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN_CONSOLE}" />
        </Console>

        <RollingFile name="fileLogger" 
		fileName="${APP_LOG_ROOT}/app.log" 
		filePattern="${APP_LOG_ROOT}/app-%d{yyyy-MM-dd}.log">
            <!-- Except Error -->
            <ThresholdFilter level="error" onMatch="DENY" onMismatch="ACCEPT"/>
			<PatternLayout pattern="${LOG_PATTERN_FILE}" />
			<Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="errorLogger" fileName="${APP_LOG_ROOT}/error.log" filePattern="${APP_LOG_ROOT}/error-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_PATTERN_FILE_ERROR}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace" >
            <AppenderRef ref="Console" level="info" />
            <AppenderRef ref="fileLogger" level="info" />
            <AppenderRef ref="errorLogger" level="error" />
        </Root>
    </Loggers>
</Configuration>